.navbar{
	position:flex;
	top:0;
	width:100%
	heigth:60px;
	background:#222;
	color:white;
	display:flex;
	align-items:center;
	padding:0 25px;
	box-sizing:border-box;
	z-index:1000;
	justify-content: center;
  }
	.nav-links{ 
	list-style:none;
	display:flex;
	gap:25px;
	margin-right: left	;
  }
	.nav-links li a{
	color:#ddd;
	teks-decoration:none;
	font-size:16px;
	transition:0.3s;
	margin-right: auto;
	
	background-color:white;
    color:#007bff;
    padding:10px 20px;
    text-decoration:none;
    font-weight:bold;
   border-radius:5px;
  }
	#content{
	padding:80px 100px;
  }
	.logo{
	color:white;
	font-size:20px;
	font-weigth:bold;
	margin-right: auto;
	
	background-color:grey;
	border-radius:50px;
	padding:10px;
  }
	section{
	background: #2ec0d1;
	color:white;
	text-align:center;
	padding:60px 20px;
  } 
 .link-hero{
  background-color:white;
  color:#007bff;
  padding:10px 20px;
  text-decoration:none;
  font-weight:bold;
  border-radius:5px;
 }
 .link-hero:hover{
   background-color:#0056b3;
   color:white;
 } 
 .nav-links li a:hover{
	 background-color:#0056b3;
     color:white;
 }